<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
      .hidden {
          visibility: hidden;
          overflow: hidden;
          width: 0px;
          height: 0px;
      }

      @media (min-width: 768px) {
        .responsive-tabs .nav-tabs {
          display: flex;
        }

        .responsive-tabs .card {
          border: none;
        }

        .responsive-tabs .card .card-header {
          display: none;
        }
      } 

      @media (max-width: 767px) {
        .responsive-tabs .tab-pane {
          display: block !important;
          opacity: 1;
        }
      }
     </style>
    <title>Home</title>
  </head>

  <body>
    <!-- Navigation bar section -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <div class="navbar-header">
          <span class="navbar-brand mb-0 h1">My todo</span>
        </div>
        <ul class="nav navbar-nav me-auto mb-3 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active pe-auto" aria-current="page" th:href="@{/home}" role="button">Home</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right mb-3 mb-lg-0">
          <div class="dropdown">
            <li class="nav-item">
              <a class="nav-link btn btn-secondary" role="button" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" th:href="@{/account}">Edit account</a></li>
                <li>
                  <form th:action="@{/logout}" method="POST">
                    <button class="dropdown-item btn" type="submit">Logout</button>
                  </form>
                </li>
              </ul>
            </li>
          </div>
        </ul>
      </div>
    </nav>
    
    <!-- Body section -->
    <div class="container-fluid">
      <div class="mt-2 col-md-12"></div>
      <h1>Hi, <span th:text="${username}">User</span></h1>

      <div class="mt-5 col-md-12"></div>

      <div class="accordion" id="create-plan-accordion">
        <div class="accordion-item">
          <h2 class="accordion-header" id="create-plan-heading">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#create-plan-collapse" aria-controls="create-plan-collapse">
              <h3>Create new plan</h2>
            </button>
          </h2>
          <div id="create-plan-collapse" class="accordion-collapse collapse" aria-labelledby="create-plan-heading" data-bs-parent="#create-plan-accordion">
            <div class="accordion-body">
              <form id="create-plan-form" th:action="@{/plan}" th:object="${newPlan}" method="POST">
                <div class="mb-3 form-outline">
                  <input id="new-plan-name" type="text" th:field="*{name}" class="form-control form-control-lg" placeholder="Name"/>
                  <div>
                    <ul id="new-plan-name-error" class="list-unstyled hidden">
                      <li class="text-danger">
                        Plan must have a name
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="mb-3 form-outline">
                  <input type="text" th:field="*{description}" class="form-control form-control-lg" placeholder="Description"/>
                </div>
                <button class="btn btn-primary" type="button" th:onclick="validateForm('new-plan-name-error')">Create</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-5 col-md-12"></div>

      <div class="card">
        <h2 class="card-header">Your todo</h2>
        <div class="card-body">
          <div class="accordion" id="main-accordion">
            <div class="plan" th:each="plan : ${plans}">
              <div class="accordion-item">
                <h2 class="accordion-header" th:id="'heading-' + ${plan.id}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="true" th:attr="data-bs-target='#collapse-' + ${plan.id},aria-controls='#collapse-' + ${plan.id}">
                    <h3>
                      <span th:text="${plan.name}">Name</span>
                    </h3>
                    <div class="col-md-1"></div>
                    <h6>
                      <span th:text="${plan.description}">Description</span>
                    </h6>
                  </button>
                </h2>
                <div th:id="'collapse-' + ${plan.id}" class="accordion-collapse collapse" 
                  th:attr="aria-labelledby='heading-' + ${plan.id}" data-bs-parent="#main-accordion">
                  <div class="accordion-body">
                    <div class="responsive-tabs">
                      <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                          <a th:href="'#task-pane-' + ${plan.id}" th:id="'task-tab-' + ${plan.id}" 
                            class="nav-link active" data-bs-toggle="tab" role="tab">
                            Tasks
                          </a>
                        </li>
                        <li class="nav-item">
                          <a th:href="'#add-task-pane-' + ${plan.id}" th:id="'add-task-tab-' + ${plan.id}" 
                          class="nav-link" data-bs-toggle="tab" role="tab">
                          Create new task
                        </a>
                      </li>
                      <li class="nav-item">
                        <a th:href="@{'/plan/' + ${plan.id} + '/edit'}" class="nav-link">
                          Edit plan
                        </a>
                      </li>
                        <li class="nav-item">
                          <form th:action="@{'/plan/' + ${plan.id} + '/delete'}" method="DELETE">
                            <button type="submit" class="nav-link text-danger"
                              th:data-confirm-delete="|Are you sure you want to delete this plan?|"
                              onclick="return confirm(this.getAttribute('data-confirm-delete'))"
                              >
                              Delete plan
                            </button>
                          </form>
                        </li>
                      </ul>
  
                      <div class="tab-content">
                        <div th:id="'task-pane-' + ${plan.id}" class="card tab-pane fade show active" role="tabpanel" 
                          th:attr="aria-labelledby='task-tab-' + ${plan.id}">
                          <div class="card-header" role="tab" id="heading-task">
                            <h5 class="mb-0">
                              <a data-bs-toggle="collapse" th:href="'#collapse-task-' + ${plan.id}" aria-expanded="true" 
                                th:attr="aria-controls='collapse-task-' + ${plan.id}">
                                Task group
                              </a>
                            </h5> 
                          </div>
                          <div th:id="'collapse-task-' + ${plan.id}" class="collapse show" role="tabpanel"
                            aria-labelledby="heading-task">
                            <div class="card-body">
                              <ul class="list-group list-group-flush">
                                <li class="list-group-item" th:each="task : ${tasks}">
                                  <h5 th:text="${task.description}">Description</h5>
                                  <ul class="nav" role="tablist">
                                    <li class="nav-item">
                                      <form th:onchange="'changeStatus(' + ${task.id} + ')'">
                                        <select class=" form-select" th:id="${task.id} + '_status'" name="new_status">
                                          <option th:each="status : ${statuses}" 
                                            th:value="${status}" 
                                            th:text="${status}"
                                            th:selected="${status == task.status}"></option>
                                        </select>
                                      </form>
                                    </li>
                                    <li class="nav-item">
                                      <button class="nav-link" data-bs-toggle="collapse" data-bs-target="#col1" aria-expanded="false" aria-controls="col1">
                                        Edit task
                                      </button>
                                    </li>
                                    <li class="nav-item">
                                      <form th:action="@{'/task/' + ${task.id} + '/delete'}" method="POST">
                                        <button class="nav-link text-danger" type="submit">Delete</button>
                                      </form>
                                    </li>
                                  </ul>
                                  <div id="col1" class="collapse">
                                    <div class="card-body">
                                      <form th:action="@{'/task/' + ${task.id} + '/edit'}" th:object="${task}" method="POST">
                                        <div>
                                          <label>Description</label>
                                          <input type="text" th:field="*{description}"/>
                                          <div>
                                            <ul>
                                              <li th:each="error : ${#fields.errors('description')}" th:text="${error}" class="error"></li>
                                            </ul>
                                          </div>
                                        </div>
                                        <button type="submit">Change</button>
                                      </form>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div th:id="'add-task-pane-' + ${plan.id}" class="card tab-pane fade" role="tabpanel" 
                          th:attr="aria-labelledby='add-task-tab-' + ${plan.id}">
                          <div class="card-header" th:id="'heading-add-task-' + ${plan.id}" role="tab">
                            <h5 class="mb-0">
                              <a data-bs-toggle="collapse" th:href="'#collapse-add-task-' + ${plan.id}" aria-expanded="true" 
                               th:attr="aria-controls='collapse-add-task-' + ${plan.id}">
                                Create new task group
                              </a>
                            </h5>
                          </div>
                          <div th:id="'collapse-add-task-' + ${plan.id}" class="collapse show" role="tabpanel"
                            th:attr="aria-labelledby='heading-add-task-' + ${plan.id}">
                            <div class="card-body">[Tab content b]</div>
                          </div>
                        </div>
                      </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script th:inline="javascript">
    function validateForm(formId, inputId, errorId) {
      var planName = document.getElementById(inputId).value;

      if(planName.trim() === "") {
        document.getElementById(errorId).style.visibility = "visible";
        document.getElementById(errorId).style.overflow = "visible";
        document.getElementById(errorId).style.width = "100%";
        document.getElementById(errorId).style.height = "100%";
        return;
      }

      var form = document.getElementById(formId);
      form.submit();
    }
    async function changeStatus(taskId) {
      var selectedStatus = document.getElementById(taskId + "_status").value;
      var csrfToken = document.getElementById("csrfToken").value;

      var data = {
        "status": selectedStatus
      }

      const updateStatus = await fetch("/task/" + taskId + "/status_change", {
        method: "POST",
        headers: {
          "X-CSRF-Token": csrfToken,
          "Content-type": "application/json"
        },
        body: JSON.stringify(data)
      })

      window.location.reload();
    }
  </script>
</html>